.mainWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
  border-radius: 9px;
}

.container {
  background-color: #333333;
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 650px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    text-align: center;
    color: var(--text);
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .inputWrapper {
    margin-bottom: 20px;
  }
  
  .fileInput {
    display: none;
  }
  
  .fileLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px dashed var(--textSoft);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .fileLabel:hover {
    background-color: #2d2c2c;
    border-color: #fcf119;
  }
  
  .uploadIcon {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  .fileListContainer {
    background-color: var(--bg);
    border-radius: 8px;
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
  }

  .fileListContainer::-webkit-scrollbar {
    width: 8px;
    border-radius: 2px;
  }
  
  .fileListContainer::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .fileListContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    border: 2px solid #f0f0f0;
  }
  
  .fileListTitle {
    color: var(--text);
    margin-bottom: 10px;
  }
  
  .fileList {
    list-style: none;
    padding: 0;
  }
  
  .fileListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgSoft);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  .fileListItem:last-child {
    margin-bottom: 0;
  }
  
  .fileInfo {
    display: flex;
    align-items: center;
  }
  
  .fileIcon {
    margin-right: 10px;
    color: var(--textSoft);
  }
  
  .fileName {
    color: var(--text);
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .removeButton {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .removeButton:hover {
    color: #ff1a1a;
  }
  
  .uploadButtonWrapper {
    text-align: right;
    margin-top: 15px;
  }
  
  .uploadButton {
    padding: 15px 20px;
  margin-left: auto;
  background-color: #fcf119;
  color: #222 !important;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  }
  
  .uploadButton:hover {
    background-color: #e2d809;
  transform: scale(1.05);
  }

  .filePreview {
    width: 25px; /* ajuste conforme necessário */
    height: 25px;
    object-fit: cover;
    border-radius: 4px; /* arredondamento opcional */
    margin-right: 8px;
  }

  .tabWrapper {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .tabButton {
    padding: 10px 15px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .tabButton:hover {
    background: #e0e0e0;
  }
  
  .activeTab {
    background: #fcf119;
    color: #222;
    font-weight: bold;
  }

  .tabWrapper select {
    padding: 15px 20px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #1e1d1d;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .tabWrapper select:hover {
    border-color: #fcf119;
  }

  .fotosWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    justify-content: center;
    background-color: var(--bgSoft);
    justify-items: center;
    border-radius: 8px;
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .fotosWrapper::-webkit-scrollbar {
    width: 8px;
  }
  
  .fotosWrapper::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 4px;
  }
  
  .fotosWrapper::-webkit-scrollbar-thumb {
    background: var(--textSoft);
    border-radius: 4px;
    border: 2px solid var(--bg); 
    cursor: pointer;
  }
  
  .fotosWrapper img {
    border-radius: 8px;
    width: 100%;
    max-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .imageContainer {
    position: relative; /* Necessário para posicionar o botão */
  }

  .deleteButton {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgba(255, 0, 0, 0.8); /* Botão vermelho translúcido */
    color: white;
    border: none;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    font-size: 10px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .deleteButton:hover {
    background: rgba(255, 0, 0, 1); /* Intensifica a cor ao passar o mouse */
  }