.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.logo {
  font-weight: bold;
  color: var(--textSoft);
}

.text {
  font-size: 12px;
  color: var(--textSoft);
}
