.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1e1d1d;
  padding: 14px 28px;
  border-radius: 10px;
  width: max-content;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}