.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #1e1d1d;
  border-radius: 5px;
  margin-bottom: 30px;
}

.form input, .form select {
  width: 45%;
}

.form textarea{
  width: 100%;
}

.form button{
  width: 100%;
  padding: 30px;
  background-color: #fcf119;
  color: black !important;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profilePhotoWrapper {
  width: 300px;
  margin: 0 auto;
  display: block;
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #1e1d1d;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profilePhotoWrapper div {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../../../public/noavatar.png');
  border-radius: 5px;
}

.profilePhotoWrapper label {
  width: 100%;
  padding: 20px;
  background-color: #fcf119;
  color: black !important;
  text-align: center;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}